<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SAC PMO</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'index/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'index/css/1-col-portfolio.css' %}" rel="stylesheet">

</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="../">The PMO System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <!--<li class="nav-item active">
                    <a class="nav-link" href="#">Home
                      <span class="sr-only">(current)</span>
                    </a>
                              </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Records</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pim/">P-IM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Case Heading -->
        <h1 class="my-4">
            Incident Records
        </h1>

        <!--Case Content-->
        {% if latest_case_list %}
        <ol>
            {% for case in latest_case_list %}
            <li>
                {{case.created_time}}
                <a href="{% url 'PMOSystem:detail' case.id %}">
                <br /> {{ case.description }}
                </a>
            </li>
            {% endfor %}
        </ol>
        {% else %}
        <p>No case available.</p>
        {% endif %}
</body>
<!-- /.container -->
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; SAC PMO 2018</p>
    </div>
    <!-- /.container -->
</footer>
<!-- Bootstrap core JavaScript -->
<script src="{% static 'index/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'index/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
